In [1]:
#librerias a importar
import pandas as pd
import numpy as np
import re  #

In [2]:
#Se concatenan todos los dataframes --- agregar los demas departamentos
df = pd.read_csv('/content/DatosCompletos.csv',encoding='latin-1')

In [3]:
#Listamos los nombres de las columnas
list(df.keys())

#Borramos filas duplicadas
df=df.drop_duplicates()

In [4]:
#Observamos la cantidad de na de cada variable
print('CODIGO: ', df['CODIGO'].isna().sum())
print('DISTRITO: ', df['DISTRITO'].isna().sum())
print('DEPARTAMENTO: ', df['DEPARTAMENTO'].isna().sum())
print('MUNICIPIO: ', df['MUNICIPIO'].isna().sum())
print('ESTABLECIMIENTO: ', df['ESTABLECIMIENTO'].isna().sum())
print('DIRECCION: ', df['DIRECCION'].isna().sum())
print('TELEFONO: ', df['TELEFONO'].isna().sum())
print('SUPERVISOR: ', df['SUPERVISOR'].isna().sum())
print('DIRECTOR: ', df['DIRECTOR'].isna().sum())
print('NIVEL: ', df['NIVEL'].isna().sum())
print('SECTOR: ', df['SECTOR'].isna().sum())
print('AREA: ', df['AREA'].isna().sum())
print('STATUS: ', df['STATUS'].isna().sum())
print('MODALIDAD: ', df['MODALIDAD'].isna().sum())
print('JORNADA: ', df['JORNADA'].isna().sum())
print('PLAN: ', df['PLAN'].isna().sum())
print('DEPARTAMENTAL: ', df['DEPARTAMENTAL'].isna().sum())

CODIGO:  23
DISTRITO:  254
DEPARTAMENTO:  46
MUNICIPIO:  46
ESTABLECIMIENTO:  46
DIRECCION:  97
TELEFONO:  581
SUPERVISOR:  255
DIRECTOR:  943
NIVEL:  46
SECTOR:  46
AREA:  46
STATUS:  46
MODALIDAD:  46
JORNADA:  46
PLAN:  46
DEPARTAMENTAL:  46

In [5]:
#Botamos todas las filas con valores nulos en el código o establecimiento ya que estas deberían de ser unicas
df=df.dropna(subset = ['CODIGO', 'ESTABLECIMIENTO'])
df

,Unnamed: 0,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
0,0,21-01-0101-46,21-002,JALAPA,JALAPA,INSTITUTO NORMAL CENTROAMERICANO PARA SEÃORIT...,"AVENIDA CHIPILAPA 1-65, ZONA 2",79224268,JORGE ADELINO PEREZ UCELO,IRIS JANNETTE AGUIRRE CONTRERAS,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),JALAPA
1,1,21-01-0104-46,21-002,JALAPA,JALAPA,INSTITUTO NORMAL CENTROAMERICANO PARA VARONES,"CALLE TRANSITO ROJAS, 4-82, ZONA 2, BARRIO SAN...",40645842,JORGE ADELINO PEREZ UCELO,LISI KARINA ESCOBAR ESPINOZA,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),JALAPA
2,2,21-01-0106-46,21-004,JALAPA,JALAPA,COLEGIO PARTICULAR MIXTO LICEO JALAPA,CALLE TRANSITO ROJAS 7-60 ZONA 1,79220013,VICTOR MANUEL PORTILLO RECINOS,EFRAÃN DE JESÃS SALAZAR PERALTA,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,NOCTURNA,DIARIO(REGULAR),JALAPA
3,3,21-01-0107-46,21-004,JALAPA,JALAPA,INSTITUTO PARTICULAR MIXTO MODERNO JALAPANECO,3A. CALLE 0-39 ZONA 2 BARRIO LA ESPERANZA,51228253,VICTOR MANUEL PORTILLO RECINOS,GERMAN DE JESUS RAMOS VALLE,DIVERSIFICADO,PRIVADO,URBANA,TEMPORAL TITULOS,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),JALAPA
4,4,21-01-0108-46,21-004,JALAPA,JALAPA,INSTITUTO PRIVADO DE EDUCACION DIVERSIFICADA E...,"4A. AVENIDA 2-66, ZONA 2 BARRIO SAN FRANCISCO",79224958-79223033,VICTOR MANUEL PORTILLO RECINOS,ROSA CORALIA PINEDA GALLARDO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),JALAPA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9371,569,12-30-0080-46,12-107,SAN MARCOS,LA BLANCA,"""COLEGIO EDUCATIVO MIXTO LUNA AZUL -CEMLA-""",PARCELAMIENTO CHIQUIRINES,45454204,JUAN JOSE TOBAR TEBALAN,BETY PATRICIA OXLAJ PÃREZ,DIVERSIFICADO,PRIVADO,RURAL,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),SAN MARCOS
9372,570,12-30-0082-46,12-093,SAN MARCOS,LA BLANCA,"COLEGIO PRIVADO URBANO MIXTO ""LICEO MODERNO""",CABECERA MUNICIPAL,30296022,JUAN JOSÃ TOBAR TEBALAN,MAVERIK GEYSTYNG HURTADO CIFUENTES,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,NOCTURNA,DIARIO(REGULAR),SAN MARCOS
9373,571,12-30-0085-46,12-093,SAN MARCOS,LA BLANCA,COLEGIO ADVENTISTA MARANATHA,CABECERA MUNICIPAL,49582374,JUAN JOSÃ TOBAR TEBALAN,USIELA SARONITA CARRETO LÃPEZ,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,SIN JORNADA,SEMIPRESENCIAL (UN DÃA A LA SEMANA),SAN MARCOS
9374,572,12-30-0087-46,12-107,SAN MARCOS,LA BLANCA,COLEGIO EDUCATIVO MIXTO LUNA AZUL -CEMLA-,PARCELAMIENTO CHIQUIRINES,45454204,JUAN JOSE TOBAR TEBALAN,BETY PATRICIA OXLAJ PÃREZ,DIVERSIFICADO,PRIVADO,RURAL,ABIERTA,MONOLINGUE,SIN JORNADA,SEMIPRESENCIAL (UN DÃA A LA SEMANA),SAN MARCOS
9375,573,12-30-0089-46,12-107,SAN MARCOS,LA BLANCA,COLEGIO PRIVADO URBANO MIXTO LICEO MODERNO,CABECERA MUNICIPAL,36121181,JUAN JOSE TOBAR TEBALAN,MAVERIK GEYSTYNG HURTADO CIFUENTES,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,SIN JORNADA,SEMIPRESENCIAL (UN DÃA A LA SEMANA),SAN MARCOS

In [6]:
#Contamos las repeticiones de establecimientos
df.ESTABLECIMIENTO.value_counts()

ESTABLECIMIENTO
INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA                               330
INSTITUTO NACIONAL DE EDUCACIÃN DIVERSIFICADA                               95
CENTRO DE EDUCACIÃN EXTRAESCOLAR -CEEX-                                     34
INSTITUTO DE EDUCACION DIVERSIFICADA POR COOPERATIVA DE ENSEÃANZA           27
INSTITUTO DIVERSIFICADO POR COOPERATIVA                                      23
                                                                           ...
INSTITUTO COMUNITARIO DE CIENCIAS COMERCIALES "EL ALTIPLANO"                  1
INSTITUTO MIXTO DE EDUCACIÃN DIVERSIFICADA POR COOPERATIVA "MAYA NA OJ"      1
CENTRO EDUCATIVO "SANTIAGO DE LA ASUNCIÃN" FE Y ALEGRÃA NO. 51              1
INSTITUTO MIXTO OXLAJUJ NOJ                                                   1
COLEGIO EDUCATIVO MIXTO LUNA AZUL -CEMLA-                                     1
Name: count, Length: 5321, dtype: int64

In [7]:
#Removemos acentos
cols = df.select_dtypes(include=[object]).columns
df[cols] = df[cols].apply(lambda x: x.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8'))
df.ESTABLECIMIENTO.value_counts()

ESTABLECIMIENTO
INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA                               330
INSTITUTO NACIONAL DE EDUCACIAN DIVERSIFICADA                                96
CENTRO DE EDUCACIAN EXTRAESCOLAR -CEEX-                                      34
INSTITUTO DE EDUCACION DIVERSIFICADA POR COOPERATIVA DE ENSEAANZA            27
INSTITUTO DIVERSIFICADO POR COOPERATIVA                                      23
                                                                           ...
CENTRO EDUCATIVO "SANTIAGO DE LA ASUNCIAN" FE Y ALEGRAA NO. 51                1
INSTITUTO MIXTO OXLAJUJ NOJ                                                   1
INSTITUTO COMUNITARIO DE CIENCIAS COMERCIALES EL ALTIPLANO                    1
ESCUELA NACIONAL DE CIENCIAS COMERCIALES "DR. JUAN JOSA ARAVALO BERMEJO"      1
COLEGIO EDUCATIVO MIXTO LUNA AZUL -CEMLA-                                     1
Name: count, Length: 5288, dtype: int64

In [8]:
# Estandarizar texto: convertir a minúsculas y eliminar espacios innecesarios
cols_to_lower = ['DISTRITO', 'DEPARTAMENTO', 'MUNICIPIO', 'ESTABLECIMIENTO', 'SUPERVISOR', 'DIRECTOR', 'DIRECCION']
df[cols_to_lower] = df[cols_to_lower].apply(lambda x: x.str.strip().str.lower().str.replace('\'','').str.replace('"',''))

# Eliminar las fechas en estas columnas
def remove_date_segments(text):
    if isinstance(text, str):  # Asegurarse de que el texto es una cadena
        # Define regex patterns for date-like segments
        date_patterns = [
            r'\b\d{4}[-/]\d{2}[-/]\d{2}\b',  # Matches 'YYYY-MM-DD' or 'YYYY/MM/DD'
            r'\b\d{2}[-/]\d{2}[-/]\d{4}\b',  # Matches 'DD-MM-YYYY' or 'DD/MM/YYYY'
            r'\b\d{2}[-/]\d{2}[-/]\d{2}\b'   # Matches 'DD-MM-YY' or 'DD/MM/YY'
        ]

        # Replace date-like segments with an empty string
        for pattern in date_patterns:
            text = re.sub(pattern, '', text)

        # Remove any extra spaces left by the replacement
        return text.strip()
    return text

df[cols_to_lower] = df[cols_to_lower].apply(remove_date_segments)

#### Variable Departamento

Ciudad Capital tenian sus datos distribuidos de una manera distinta pues la variables DEPARTAMENTO guarda el municipio del establecimiento y la variable MUNICIPIO guarda la zona de la capital en la que recide, así que se crea una variable para reordenar estos datos y volver a la ciudad capital parte de guatemala

In [9]:
#creamos la variable zona para la ciudad capital
df = df.assign(ZONA = lambda x: np.where(x.DEPARTAMENTO == "CIUDAD CAPITAL", x.MUNICIPIO, None))
#volvemos el departamento un municipio
df = df.assign(MUNICIPIO = lambda x: np.where(x.DEPARTAMENTO == "CIUDAD CAPITAL", x.DEPARTAMENTO, x.MUNICIPIO))
#unimos ciudad capital a guatemala
df = df.assign(DEPARTAMENTO = lambda x: np.where(x.DEPARTAMENTO == "CIUDAD CAPITAL", "GUATEMALA", x.DEPARTAMENTO))

#### Variable dirección

Esta variable tiene diferentes tipos de formatos, decidimos validar direcciones claramente erroneas, constituidas por un par decaracteres invalidos, como "-", "--", "---", ".", "". y las definimos como NONE.

In [10]:
direcciones_invalidas = ['-', '--', '---', '.', ' ', '  ']
df['DIRECCION'] = df['DIRECCION'].replace(direcciones_invalidas, np.nan)
df['DIRECCION'] = df['DIRECCION'].str.lower().str.strip()
# Function to check if a string is a date and convert it to NaN
def check_date_and_replace(value):
    try:
        pd.to_datetime(value, errors='raise')
        return np.nan
    except ValueError:
        return value
df['DIRECCION'] = df['DIRECCION'].apply(check_date_and_replace)

<ipython-input-10-d2077c48bfcc>:7: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  pd.to_datetime(value, errors='raise')

In [11]:
#i una entrada posee 8 caracteres o más, botamos la cola del dato y nos quedamos con los primeros 8 caracteres.
# Si es menor a 8 o posee caracteres es desechado
import re
df['TELEFONO'] = df['TELEFONO'].apply(lambda x: str(x))
# En el caso de que incluya mas de un telefono
def cleanPhoneNumber(number):
  # Split por cualquier caracter que no es numero
  numberChains = re.split(r'\D+', number)
  # Revisar que todos los numeros sean numeros validos, longitud de 8
  validChains = [num for num in numberChains if len(num) == 8]
  # Retornar en caso de que haya al menos uno la lista, en cualquier otro caso retornar None
  return validChains if len(validChains) > 0 else None
df['TELEFONO'] = df['TELEFONO'].apply(cleanPhoneNumber)

In [12]:
df['DIRECTOR']

0          iris jannette aguirre contreras
1             lisi karina escobar espinoza
2          efraan de jesas salazar peralta
3              german de jesus ramos valle
4             rosa coralia pineda gallardo
                       ...
9371             bety patricia oxlaj parez
9372    maverik geystyng hurtado cifuentes
9373         usiela saronita carreto lapez
9374             bety patricia oxlaj parez
9375    maverik geystyng hurtado cifuentes
Name: DIRECTOR, Length: 9332, dtype: object

#### Variable Director

En algunos establecimientos no aparece quien es el directos y aparecen puntos o caracteres diferentes así que nos cambiamos por NaN

In [13]:
#Contamos las repeticiones de directores
print(df.DIRECTOR.value_counts())
df['DIRECTOR'] = df['DIRECTOR'].apply(lambda x: np.nan if pd.isnull(x) or re.fullmatch(r'-{1,}|\.{1,}|0+|X+|\s*|-+| +|SIN DATO', str(x)) else x)
# Limpiamos a los supervisores
df['SUPERVISOR'] = df['SUPERVISOR'].apply(lambda x: np.nan if pd.isnull(x) or re.fullmatch(r'-{1,}|\.{1,}|0+|X+|\s*|-+| +|SIN DATO', str(x)) else x)

DIRECTOR
---                                  83
----                                 28
--                                   27
sin dato                             14
-----                                14
                                     ..
mariela floribal mandez maldonado     1
leonel arnulfo ortega morataya        1
byron estuardo gonzalez enriquez      1
maraa eugenia barrera barreda         1
felix alexander tarrez rodraguez      1
Name: count, Length: 4655, dtype: int64

In [14]:
# Eliminar duplicados basados en CODIGO y DIRECCION
df = df.drop_duplicates(subset=['CODIGO', 'DIRECCION'], keep='first')

In [15]:
# Verificar nuevamente valores nulos
nulos_despues = df.isnull().sum()
print("Valores nulos después de limpieza:\n", nulos_despues)

Valores nulos después de limpieza:
 Unnamed: 0            0
CODIGO                0
DISTRITO            208
DEPARTAMENTO          0
MUNICIPIO             0
ESTABLECIMIENTO       0
DIRECCION            65
TELEFONO            613
SUPERVISOR          209
DIRECTOR           1109
NIVEL                 0
SECTOR                0
AREA                  0
STATUS                0
MODALIDAD             0
JORNADA               0
PLAN                  0
DEPARTAMENTAL         0
ZONA               9332
dtype: int64

In [16]:
# Limpiar esta que solo tiene nulos
df = df.drop(columns=['ZONA','Unnamed: 0'])

In [17]:
##creamos un csv con los datos limpios
df.to_csv('DatosLimpios.csv')

In [18]:
df

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
0,21-01-0101-46,21-002,jalapa,jalapa,instituto normal centroamericano para seaorita...,"avenida chipilapa 1-65, zona 2",[79224268],jorge adelino perez ucelo,iris jannette aguirre contreras,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),JALAPA
1,21-01-0104-46,21-002,jalapa,jalapa,instituto normal centroamericano para varones,"calle transito rojas, 4-82, zona 2, barrio san...",[40645842],jorge adelino perez ucelo,lisi karina escobar espinoza,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),JALAPA
2,21-01-0106-46,21-004,jalapa,jalapa,colegio particular mixto liceo jalapa,calle transito rojas 7-60 zona 1,[79220013],victor manuel portillo recinos,efraan de jesas salazar peralta,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,NOCTURNA,DIARIO(REGULAR),JALAPA
3,21-01-0107-46,21-004,jalapa,jalapa,instituto particular mixto moderno jalapaneco,3a. calle 0-39 zona 2 barrio la esperanza,[51228253],victor manuel portillo recinos,german de jesus ramos valle,DIVERSIFICADO,PRIVADO,URBANA,TEMPORAL TITULOS,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),JALAPA
4,21-01-0108-46,21-004,jalapa,jalapa,instituto privado de educacion diversificada e...,"4a. avenida 2-66, zona 2 barrio san francisco","[79224958, 79223033]",victor manuel portillo recinos,rosa coralia pineda gallardo,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),JALAPA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9371,12-30-0080-46,12-107,san marcos,la blanca,colegio educativo mixto luna azul -cemla-,parcelamiento chiquirines,[45454204],juan jose tobar tebalan,bety patricia oxlaj parez,DIVERSIFICADO,PRIVADO,RURAL,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),SAN MARCOS
9372,12-30-0082-46,12-093,san marcos,la blanca,colegio privado urbano mixto liceo moderno,cabecera municipal,[30296022],juan josa tobar tebalan,maverik geystyng hurtado cifuentes,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,NOCTURNA,DIARIO(REGULAR),SAN MARCOS
9373,12-30-0085-46,12-093,san marcos,la blanca,colegio adventista maranatha,cabecera municipal,[49582374],juan josa tobar tebalan,usiela saronita carreto lapez,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,SIN JORNADA,SEMIPRESENCIAL (UN DAA A LA SEMANA),SAN MARCOS
9374,12-30-0087-46,12-107,san marcos,la blanca,colegio educativo mixto luna azul -cemla-,parcelamiento chiquirines,[45454204],juan jose tobar tebalan,bety patricia oxlaj parez,DIVERSIFICADO,PRIVADO,RURAL,ABIERTA,MONOLINGUE,SIN JORNADA,SEMIPRESENCIAL (UN DAA A LA SEMANA),SAN MARCOS
9375,12-30-0089-46,12-107,san marcos,la blanca,colegio privado urbano mixto liceo moderno,cabecera municipal,[36121181],juan jose tobar tebalan,maverik geystyng hurtado cifuentes,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,SIN JORNADA,SEMIPRESENCIAL (UN DAA A LA SEMANA),SAN MARCOS